{{/* JSON-LD. dateModified comes from lastReviewed, never from file mtime. */}}
{{ $author := dict
  "@type" "Person"
  "name" site.Params.author
  "url" site.BaseURL
}}
{{ with site.Params.linkedin }}{{ $author = merge $author (dict "sameAs" (slice .)) }}{{ end }}

{{ $org := dict
  "@type" "Organization"
  "name" site.Params.legalEntity
  "url" site.BaseURL
}}
{{ with site.Params.linkedin }}{{ $org = merge $org (dict "sameAs" (slice .)) }}{{ end }}

{{ $graph := slice $author $org }}

{{ if and .IsPage (eq .Section "writing") }}
{{ $article := dict
  "@type" "Article"
  "headline" (.Params.h1 | default .Title)
  "description" .Params.summary
  "author" $author
  "publisher" $org
  "datePublished" (.Date.Format "2006-01-02")
  "dateModified" ((.Params.lastReviewed | default .Date) | time.Format "2006-01-02")
  "mainEntityOfPage" .Permalink
  "url" .Permalink
}}
{{ $graph = $graph | append $article }}
{{ end }}

<script type="application/ld+json">
  {{ (dict "@context" "https://schema.org" "@graph" $graph) | jsonify }}
</script>
